TESLA_CLIENT_ID=
TESLA_CLIENT_SECRET=
TESLA_REDIRECT_URI=http://localhost:3456/callback
TESLA_AUDIENCE=https://fleet-api.prd.na.vn.cloud.tesla.com
TESLA_REFRESH_TOKEN=
TESLA_DOMAIN=gxb.vc
TESLA_PROXY_URL=
